
.public-game-rows {
    margin-top: 10px;
    padding: 5px;
    background-color: #FFFFFF;
} 

div.container.con {
  background-color: #FDF7F7;
}

.public-game-rows-text {
    padding: 10px;
}

.cover-art {
    border: 1px solid black;
    display: block !important;
    margin-right: auto !important;
    margin-left: auto !important
}

.header {
    font-family: Audiowide !important;
    margin-top: 1.5em;
    margin-left: 1.5em;
}

.fontlink {
    font-family: Audiowide !important;
    margin-left: 2.5em;
}

.welcome {
  font-family: 'audiowide' !important;
  /* font-family: 'Press Start 2P' !important; */
  font-size: 130px;
  text-align: center;
  
  margin-top: 1.5em;
}
.audiowide {
  font-family: 'audiowide';
}

.dashH1 {
  font-family: 'audiowide' !important;
   /* font-family: 'Press Start 2P' !important; */
  font-size: 130px;
  margin-top: 15px;
  margin-left: 15%
}

.containers {
  height: 1000px;
  width: 95%;
  border-width: 1px;
}

#dashUsername {
  font-family: 'audiowide';

}
/* cant find out how to do top center */
.centering { 
display: flex;
justify-content: center;
}

.innerbox {
  border-style: solid;
  border-color: black;

}

.center {
  display: flex;
  justify-content: center
}

/* .borderS {   //blue border - used for framing
  border-style: solid;
  border-color: blue;
  border-width: 1px;
} */

.columnH {
  height: 100%
}

.row75 {
  height: 65%
}
.row25 {
  height: 25%
}

.margin {
  margin: .5%;
  margin-top: 1%;
}

.hide-confirm{
    visibility: hidden;
  }

  
  .row.tab {
      background-color: #FDF7F7;
  }

  .row.tab.game {
      padding-top: .5em;
      padding-bottom: .5em;
      background-color: #FFFFFF;
  }
  .row.tab.game span {
    font-size: 2em;
    font-weight: 500;
  }
  .row.tab.game img {
      max-width: 90px;
      max-height: 90px; 
  }

  .row.tab.game span.alert.game {
      width: 40%;
      font-size: 1em;;
  }

  .dashboard-image {
    width: 100%;
    height: 100%;
  }

  .user-dash-info {
    margin-top: 10%;
  }

  .nav-tab {
    margin-right: 2px;
  }

  .tab-bar {
    margin-bottom: 3px;
    margin-top: 10px;
  }